.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 100px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: rgb(245, 242, 239);
}

.banner {
  width: 38%;
  background: linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
  border-radius: 15px;

}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 38%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: hsl(0, 0%, 100%);

}

.parent {
  display: flex;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  width: 85%;
}

.circle {
  background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  width: 110px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}

.deco {
  display: flex;
  justify-content: center;

}

h2 {
  display: flex;
  justify-content: center;
  color: white;
}

h3 {
  display: flex;
  justify-content: center;
  color: hsl(241, 100%, 89%);
}

.para {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: hsl(241, 100%, 89%);
  text-align: center;
}

h1 {
  margin-bottom: 0;
  font-size: 50px;
}

#of100 {
  margin-top: 0;
  color: hsl(241, 100%, 89%);
  font-size: 10px;
}

.wrapper div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px;
  margin-bottom: 5px;
}

.spans {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.btn {
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 220px;
  height: 30px;
  background-color: hsl(224, 30%, 27%);
  color: white;
  border-radius: 20px;

}

.btn:hover {
  background-color: hsl(241, 81%, 54%);
  cursor: pointer;
}

#one {
  color: black;
}

.summary {
  display: flex;
  justify-content: left;
  width: 85%;
}

#five {
  background-color: hsl(0, 31%, 94%);
  border-radius: 10px;
}

#two {
  background-color: hsl(40, 47%, 93%);
  border-radius: 10px;
}

#three {
  background-color: hsl(166, 78%, 95%);
  border-radius: 10px;
}

#four {
  background-color: hsl(231, 58%, 95%);
  border-radius: 10px;
}

#reaction {
  color: hsl(0, 100%, 67%);
}

#memory {
  color: hsl(39, 100%, 56%);
}

#verbal {
  color: hsl(166, 100%, 37%);
}

#visual {
  color: hsl(234, 85%, 45%);
}